//Example styles navbar

.example-navbar { 
    font-family: Helvetica;
    font-size: $fs-body;
    display: flex;
    justify-content: space-between;
  }
  
  .example-svg {
    padding: 0.5rem;
    height: auto;
    width: 15%;
  }
  
  .example-navbar {
    background-color: $color-red;
  }
  
  .example-navbar__list {
    display: flex;
    list-style-type: none;
  }
  
  .example-navbar__listitem {
    padding: 1.4rem;
    margin: 0 1rem;
  
  }
  
  .example-a {
    text-decoration: none;
    color: $color-darkgrey;
  }
  
  .navhover3 {
    color: #000000;
    font-size: $fs-body;
    text-decoration: none;
    padding: 20px 6px;
    margin: 0 20px;
    border-bottom: 0px solid #000000;
    transition: 0.2s ease;
  }
  .navhover3:hover {
    transition: 0.3s ease;
    border-bottom: 2px solid #000000;
    padding: 6px 6px; 
  }

  .example2-navbar { 
    font-family: Helvetica;
    font-size: $fs-body;
    display: flex;
    justify-content: center;
    background-color: $color-red;
  }

  //Example styles dropdown menu

  .dropbtn {
    color: $color-darkgrey;
    padding: 0.5rem 2rem;
    font-size: 16px;
    border: 3px solid $color-darkgrey;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 0.4rem 0.2rem;
  }
  
  .dropdown-css {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100%;
    z-index: 1;
    overflow: auto;
    max-height: 200px;

  }
  
  .dropdown-css a {
    padding: 0.6rem 0.9rem;
    text-decoration: none;
    display: block;
    text-align: center;
    color: $color-darkgrey;  }
  
  .dropdown-css a:hover {
    background-color: lightgray;
  }
  
  .dropdown:hover .dropdown-css {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: $color-darkgrey;
    color: #ffffff;
  }

  .c-example {
  
    &__paragraph {
      margin-left: 2rem;
    }
    &__heading {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        font-size: $fs-heading3;
    }

    &__subheading {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: $fs-heading4;
    }

    &__text {
        max-width: 40rem;
        line-height: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__link {
        font-weight: bold;
        text-decoration: none;
        color: $color-red;

        &:hover {
            text-decoration: underline;
        }
    }

  }

  
  .c-section__listwrapper {
    border: solid 7px #2C2C2C;
    padding: 1.6rem 1.2rem;
    width: 19rem;
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  .c-section__listheading {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  
  .c-section__list {
    margin-left: 1.2rem;
    padding-top: 1.2rem;
  }
  
  .c-section__listitem {
    font-size: 1rem;
    margin: 1.2rem;
    padding-left: 0.8rem;
  }
  
  .dark {
    background-color: $color-darkgrey;
    color: $color-white;
    border-color: $color-blaulila;
    margin-left: 1rem;
  }

