
/* COLOR */
$color-red: #E30914;
//$color-blaulila: rgb(121, 93, 226);
$color-blaulila: #484FFF; //lena
$color-white: #F6F7F2;
$color-darkgrey: #2C2C2C;

/* FONT */
$font-family: 'Helvetica Neue', Arial, sans-serif;

$fs-heading1: 2.5rem;
$fs-body: 1rem;

