@import './variables';
@import './example';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

main {
    margin: 0 4rem,
}

.l-body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "head head" "nav main" "footer footer";
    grid-column-gap: 1rem;
    grid-row-gap: 3rem;
    font-family: $font-family;
    font-size: $fs-body;
    color: $color-darkgrey;
}

/* HEADER BAR */
.c-header {
    background-color: $color-blaulila;
    grid-area: head;
    display: flex;
    justify-content: center;
    padding: 0.6rem 0;
    box-shadow: 0 1px 5px #0009;

    &__logo {
        width: 15vw;
        height: auto;
    }

    &__heading {
        font-size: $fs-heading2;
        color: white;
        text-align: center;
        padding: 1rem 0;
        font-weight: 400;;
    }
}

/* MAIN */
.l-main {
    width: 90%;
    margin: 0 auto;
}

/* NAVIGATION */
.c-nav {
    grid-area: nav;
    margin-right: 2rem;
    margin-left: 4rem;
    
    &__stickywrap {
        position: sticky;
        top: 2rem;
    }

    &__heading {
        font-weight: bold;
        margin-bottom: 2rem;
    }

    &__list {
        list-style: none;
        margin-top: 2rem;
        border-bottom: 1px solid $color-darkgrey;
        
        &:hover {
            .c-nav__listitem {
                display: block;
            }        
        }
    }

    &__list:last-of-type {
        border-bottom: none;
    }

    &__listitem {
        margin: 1rem 0;
        display: none;
    }

    &__link {
        text-decoration: none;
        color: $color-darkgrey;
        display: block;
        width: 100%;
        padding: 0.5rem;
        
        &:hover {
            background-color: $color-red;
            color: $color-white;
        }
    }
}

/* INTRODUCTION */
.c-introduction {
    border-bottom: solid 1px $color-darkgrey;
    margin: 1rem 0;
    padding-bottom: 2rem;

    &__text {
        max-width: 40rem;
        line-height: 1.5rem;
        margin: 1rem 0;
    }
}

/* CONTAINER */
.l-container {
    margin: 3rem 0;
    border-bottom: solid 1px $color-darkgrey;

    &__heading {
        font-size: $fs-heading2;
    }
}

/* SECTIONS */
.c-section {
    margin-top: 2rem;
    margin-bottom: 6rem;

    &__heading {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        font-size: $fs-heading3;
    }

    &__subheading {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        font-size: $fs-heading4;
    }

    &__text {
        max-width: 40rem;
        line-height: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__link {
        font-weight: bold;
        text-decoration: none;
        color: $color-red;

        &:hover {
            text-decoration: underline;
        }
    }

    &__example {
        font-size: $fs-heading5;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    &__fs-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    &__img-filestructure {
        width: 15rem;
        margin-top: 1rem;
    }

    &__image-barchart {
        width: 35rem;
        margin-top:1rem;
    }

    &__image-piechart {
        width: 10rem;
        margin-top: 1rem;
    }
}

.codepen-embed-body {
    margin-left: 2rem;
}

/* FONT SIZES */

.headingOne {
    font-size: 40px;
    font-family: $font-family bold;
}

.headingTwo {
    font-size: 32px;
    font-family: $font-family bold;
}

.headingThree {
    font-size: 28px;
    font-family: $font-family bold;
}

.bodyNormal {
    font-size: 20px;
    font-family: $font-family;
}

.bodyBold {
    font-size: 20px;
    font-family: $font-family bold;
}

.buttonsMeta {
    font-size: 20px;
    font-family: $font-family;
}

/* COLORS */
.c-colorbox {

    width: 50vw;

    &__colorname {
        font-weight: bold;
        position: absolute;
        left: 1rem;
        top: 1rem;
    }

    &__color {
        padding: 2rem 1rem;
        margin: 1rem 0;
        position: relative;
        height: 10rem;
        border: 1px solid;
        border-radius: 5px;
    }

    .red {
        background-color: $color-red;
        color: $color-white;
    }
    .blaulila {
        background-color: $color-blaulila;
        color: $color-white;
    }
    .black {
        background-color: $color-darkgrey;
        color: $color-white;
    }
    .white {
        background-color: $color-white;   
        border-color: $color-white;
        .c-colorbox__tabledata, .c-colorbox__tablerow {
            border-color: $color-darkgrey;
        }     
    }

    &__colorcode {
        border-collapse: collapse; 
        position: absolute;
        right: 2rem;
        top: 2.2rem;
    }


    &__tablerow {
        border-bottom: 1px solid rgba(238, 238, 238, 0.5);

        &:last-of-type {
            border-bottom: none;
        }
    }

    &__tabledata {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    
        &:first-child {
            border-right: 1px solid rgba(238, 238, 238, 0.5);
            text-align: right;
        }

    }
}

/* TYPESCALE */
.c-typescale {
    border-collapse: collapse; 
    width: 55vw;
    margin-left: 2rem;

    &__tablerow {
        border-bottom: 1px solid rgba(170, 170, 170, 0.5);

        &:last-of-type {
            border-bottom: none;
        }
    }

    &__tabledata {
        padding: 1rem 0;
        border-right: 1px solid rgba(170, 170, 170, 0.5);

        &:last-of-type {
            border-right: none;
        }

        &:nth-of-type(2), &:nth-of-type(3) {
            padding-left: 1rem;
        }
    }
}

/* LOGO */
.c-logobox {
    height: 7rem;
}

.c-logo {
    background-image: url(../images/logo.svg);
    background-size: 15rem;
    background-position: center;
    width: 16rem;
    height: 7em;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 1rem;
}

.bgred {
    background-color: $color-red;
    color: red;
    margin-right: 1rem;

}

.bgdark {
    background-color: $color-darkgrey;
}

/* FOOTER */
.c-footer {
    background-color: $color-blaulila;
    grid-area: footer;
    height: 5rem;

    &__text {
        text-align: center;
        color: $color-white;
        padding-top: 2rem;
        font-size: 0.8rem;
    }
}



