* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$color-red: #E30914;
$color-blaulila: rgb(121, 93, 226);
$color-white: #F6F7F2;
$color-darkgrey: #2C2C2C;

$font-family: 'Helvetica Neue', Arial, sans-serif;

$fs-heading1: 2.5rem;
$fs-body: 1rem;


.l-body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "head head" "nav main";
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    font-family: $font-family;
    color: $color-darkgrey;
}

.c-header {
    background-color: $color-blaulila;
    grid-area: head;
    position: sticky;
    top: 0;
    z-index: 1;

    &__heading {
        font-size: $fs-heading1;
        color: white;
        text-align: center;
        padding: 1rem;
    }
}

/* NAVIGATION */
.c-nav {
    grid-area: nav;
    margin-right: 2rem;
    margin-left: 4rem;
    

    &__stickywrap {
        position: sticky;
        top: 10rem;
    }

    &__heading {
        font-weight: bold;
        margin-bottom: 2rem;
    }

    &__list {
        list-style: none;
        margin-top: 2rem;
        border-bottom: 1px solid $color-darkgrey;
        
        &:hover {
            .c-nav__listitem {
                display: block;
            }        
        }
    }

    &__list:last-of-type {
        border-bottom: none;
    }

    &__listitem {
        margin: 1.5rem 0;
        display: none;
    }
}

.l-container {
    margin: 3rem 0;
}
.c-section {
    margin-top: 2rem;
    margin-bottom: 6rem;

    &__heading {
        margin-bottom: 1.5rem;
    }

    &__subheading {
        margin: 1rem 0;
    }
}

/* COLORS */
.c-colorbox {

    width: 50vw;

    &__colorname {
        font-weight: bold;
        position: absolute;
        left: 1rem;
        top: 1rem;
    }

    &__color {
        padding: 2rem 1rem;
        margin: 1rem 0;
        position: relative;
        height: 10rem;
        border: 1px solid;
        border-radius: 5px;
    }

    .red {
        background-color: $color-red;
        color: $color-white;
    }
    .blaulila {
        background-color: $color-blaulila;
        color: $color-white;
    }
    .black {
        background-color: $color-darkgrey;
        color: $color-white;
    }
    .white {
        background-color: $color-white;   
        border-color: $color-white;
        .c-colorbox__tabledata, .c-colorbox__tablerow {
            border-color: $color-darkgrey;
        }     
    }

    &__colorcode {
        border-collapse: collapse; 
        position: absolute;
        right: 2rem;
        top: 2.2rem;
    }

    &__tablerow {
        border-bottom: 1px solid rgba(238, 238, 238, 0.5);

        &:last-of-type {
            border-bottom: none;
        }
    }

    &__tabledata {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    
        &:first-child {
            border-right: 1px solid rgba(238, 238, 238, 0.5);
            text-align: right;
        }

    }
}

.c-typescale {
    border-collapse: collapse; 
    width: 60vw;
    margin-left: 2rem;

    &__tablerow {
        border-bottom: 1px solid rgba(170, 170, 170, 0.5);

        &:last-of-type {
            border-bottom: none;
        }
    }

    &__tabledata {
        padding: 1rem 0;
        border-right: 1px solid rgba(170, 170, 170, 0.5);

        &:last-of-type {
            border-right: none;
        }

        &:nth-of-type(2), &:nth-of-type(3) {
            padding: 1rem;
        }
    }
}